<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <header class="p-2 position-sticky d-flex justify-content-between flex-column">
      <div class="slide-up">
        <h1 class="primary-text">November <br>Second<div id="blinking-cursor"></div></h1>
        <h2 class="secondary-text">Software Solutions</h2>
        <h3 class="my-4">📍Based in Las Vegas, Nevada</h3>
        <h3 class="my-4">Beautiful inside and out. High quality software at an affordable price.</h3>
        <h3 class="my-4">We make the tools for you to shape the world.</h3>
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center flex-column" style="margin-bottom: 10rem">
        <a href="#get-in-touch" class="btn btn-outline-dark mt-4 col-4 col-lg-2">Get In Touch</a>
      </div>
    </header>
    <div id="main" class="main py-5 px-3 d-flex flex-column align-items-center">
      <div class="col-12 col-lg-7 ">
        {{ .Content }}
      </div>
    </div>
  </body>
</html>
