<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <div class="m-2">
      <h1>November <br>Second<div id="blinking-cursor"></div></h1>
      <h2>Software Solutions</h2>
    </div>
    <h3 class="m-5">This website is still under construction...</h3>
    <div class="mt-5 container d-flex justify-content-center mb-5 pb-5">
      <div class="col-12 col-lg-8 p-4 rounded-3 shadow">
        <!-- modify this form HTML and place wherever you want your form -->
        <form action="https://formspree.io/f/mayrkvlb" method="POST">
          <div class="form-group mb-4">
            <label>Name:</label>
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Enter your full name"
            />
          </div>
          <div class="form-group mb-4">
            <label>Email Address:</label>
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Enter your email address"
            />
          </div>
          <div class="form-group mb-4">
            <label>Your message:</label>
            <textarea
              placeholder="Please describe your needs and let us know your preferred timing for a discussion"
              class="form-control"
              name="message"
              rows="5"
            ></textarea>
          </div>
          <!-- your other form fields go here -->
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
